# 873 - zipper.jpl.nasa.gov - Development
# ***************************************
#
# Development configuration.  Use this configuration if you're fixing bugs, adding features,
# or testing the app server configuration for the 873 services hosted on zipper.jpl.nasa.gov.
#
# Don't like the default port numbers or passwords?  Make your own local.cfg that extends
# this file and override the settings.


# Buildout infrastructure
[buildout]
extensions += mr.developer
extends =
    etc/base.cfg
    etc/sources.cfg
allow-picked-versions = true
update-versions-file = etc/versions/known-good-versions.cfg
parts =
    lxml
    omelette
    test
    python
    backup
    zope-debug
