# Copyright 2011–2018 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.
#
# Versions of Python components for the site plus any other version
# pins needed.

[versions]
setuptools =
zc.buildout = 2.13.3
collective.recaptcha = 2.1.0
pyparsing = 2.2.0
plone.recipe.zope2instance = 4.4.1
Products.LDAPUserFolder = 2.27
five.formlib = 1.0.4
Pillow = 6.2.2


[plone-policies]
hotfixes = Products.PloneHotfix20200121
backports =
    backports.ssl_match_hostname
    backports.os
    configparser
eggs =
    jplestd.policy
    ${:backports}
    ${:hotfixes}


[buildout]
auto-checkout +=
    jplestd.policy
    Products.LDAPUserFolder

