# 873 - zipper.jpl.nasa.gov
# *************************
#
# This is the application server configuration for the host zipper.jpl.nasa.gov
# for services provided by the Center for Data Science and Technology.
#
# Do not run this buildout directly. Instead, use either:
# * dev.cfg - for development of 873 software
# * ops.cfg - for deployment to the host zipper.jpl.nasa.gov
# 
# Copyright 2011–2018 California Institute of Technology. ALL RIGHTS RESERVED.
# U.S. Government sponsorship acknowledged. You're looking good today.


# Passwords
# =========
#
# Account user names and passwords to access administrative interfaces.
[zope]
username = zope-admin
password = secret

[supervisor]
username = supervisor-admin
password = secret


# Ports
# =====
#
# IP port numbers that services will listen to.
[ports]
supervisor  = 4913
zeo         = 4914
zeo-monitor = 4917
zope        = 4916
zope-debug  = 4915


# Buildout Infrastructure
# =======================
#
# Nothing needs updating here.
[buildout]
index = https://pypi.org/simple/
extends =
    crontab.cfg
    lxml.cfg
    supervisor.cfg
    zope.cfg
    versions/dists.cfg
    versions/plone-policies.cfg
versions = versions
newest = false
allow-hosts =
    oodt.jpl.nasa.gov
    pypi.fury.io
    *.githubusercontent.com
    *.github.com
    *.python.org
    *.plone.org
    launchpad.net
    files.pythonhosted.org
    pypi.org
    effbot.org
find-links +=
    https://files.pythonhosted.org/packages
    https://pypi.org/simple/
    https://pypi.org/project/
    http://dist.plone.org/
    http://effbot.org/downloads
