# Copyright 2011–2020 California Institute of Technology. ALL RIGHTS
# RESERVED. U.S. Government Sponsorship acknowledged.

[sources]
jplestd.policy          = fs jplestd.policy          path=src
Products.LDAPUserFolder = fs Products.LDAPUserFolder path=src
