# Zope Settings
# =============
#


# Zope
# ====
#
# Settings for the Zope application server and database, which we use to run
# the Plone content management system.

# Zope Instance
# -------------
#
# Regular, operational instance of Zope.
[zope]
recipe                = plone.recipe.zope2instance
access-log-max-size   = 5mb
access-log-old-files  = 5
debug-mode            = off
environment-vars      = TZ UTC
event-log-max-size    = 5mb
event-log-old-files   = 3
http-address          = ${ports:zope}
ip-address            = localhost
password              = admin
shared-blob           = on
user                  = ${:username}:${:password}
username              = admin
verbose-security      = off
zeo-address           = ${ports:zeo}
zeo-client            = on
zeo-client-cache-size = 300MB
zodb-cache-size       = 12000
eggs                  =
    Pillow
    Plone
    ${plone-policies:eggs}


# Zope Debugging Instance
# -----------------------
#
# An instance of Zope specifically for development.
[zope-debug]
<= zope
debug-mode       = on
http-address     = ${ports:zope-debug}
verbose-security = on
zeo-client       = off


# Zope Enterprise Objects
# -----------------------
#
# ZEO is the database server for Zope.  It's used operationally for
# performance and to allow backups/backing during operations.  In
# development, Zope runs the database directly.
[zeo]
recipe            = plone.recipe.zeoserver
zeo-address       = ${ports:zeo}
monitor-address   = ${ports:zeo-monitor}
zeo-log-max-size  = 5mb
zeo-log-old-files = 3


# Zope Backup/Restore
# -------------------
#
# Backup & restore scripts for Zope & ZEO
[backup]
recipe            = collective.recipe.backup
blob_storage      = ${buildout:directory}/var/blobstorage
enable_zipbackup  = true
enable_fullbackup = true


# Omelette
# --------
#
# Greppable, explorable Python source code
[omelette]
recipe = collective.recipe.omelette
eggs   =
    ${zope:eggs}
    ${eggs-list:eggs}


# Test
# ----
#
# Test runner for Python components.
[test]
recipe = collective.xmltestreport
eggs   =
    ${eggs-list:eggs}
    Pillow
    plone.app.testing
    unittest2
defaults = ['--auto-color', '--auto-progress', '--verbose']


# Python
# ------
#
# Generation of a Python interpreter with all the Zope eggs "baked in"
[python]
recipe      = zc.recipe.egg
interpreter = python
scripts     = python
eggs        = ${zope:eggs}


# Project Eggs List
# -----------------
#
# What eggs are being developed in this project.
[eggs-list]
recipe = mr.scripty
eggs   = return u'\n'.join(self.buildout['sources'].keys())

